@page "/"
@using Socials.Client.Client.Controllers
@using Socials.Client.Client.Model
@inject ComponentController componentController
@inject EventController eventController
@inject HttpClient http

<PageTitle>Socials</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" Style="width=100%;" class="col-12">
    <RadzenStack Orientation="Orientation.Vertical" class="flex inline col-6" >
        <div style="height: 100%; overflow-y: scroll;">

            <RadzenCard Style="margin: 10px">


                @foreach(var e in Event)
                {
                    <EventItem Event=@e />
                }



            </RadzenCard>
        </div>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Vertical" class="flex inline col-6">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>


    </RadzenStack>

</RadzenStack>

@code{
    public List<Event> Event { get; set; }
    protected override async Task OnInitializedAsync()
    {
        componentController.SetCurrentPageTitle("Eventos");
        //var s = await http.GetStringAsync("sample-data/SampleEvents.Json");
        Event = EventData.GetFixedEvents();
        base.OnInitialized();
    }


}