@using Socials.Client.Client.Controllers;

<div class="row" style="background-color:transparent">
@if (userController.LoggedIn)
{   <div style="display: flex; justify-content: center; height: 100vh; vertical-align: middle">
         <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Style="display: inline-block;">
            <RadzenProfileMenu Style="background-color: red">
                <ChildContent>
                    <RadzenProfileMenuItem Text="Perfil" Path="perfil" Icon="account_circle"></RadzenProfileMenuItem>
                    <RadzenProfileMenuItem Text="Notificaciones" Path="notifications" Icon="notifications"></RadzenProfileMenuItem>
                    <RadzenProfileMenuItem Style="color: red" Text="Cerrar sesión" Path="logout" Icon="logout"></RadzenProfileMenuItem>
                </ChildContent>

                <Template>
                    <RadzenLabel Text="@userController.LoggedInUser.Username" />
                    <RadzenImage Path="logo.png" Style="border-radius: 16px; height: 32px; width: 32px"></RadzenImage>
                </Template>
            </RadzenProfileMenu>
        </RadzenStack>
    </div>
}
else
{
    <a href="/login">Iniciar sesión</a>

}
</div>
@code {
    [Parameter]
    public AuthenticationController userController { get; set; }

    void LogOut()
    {
        userController.LogOut();
    }

    void RefreshMe()
    {
        this.StateHasChanged();
    }
}
