@using Socials.Client.Client.Controllers
@inject ComponentController componentController
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <div class="top-row">
        <RadzenButton title="Navigation menu" class="oi-menu" style="align-items:center;justify-content:center" Click="@ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
        </RadzenButton>
    </div>
@code {

    [Parameter]
    public MainLayout mainLayout { get; set; }

    void ToggleNavMenu()
    {
        componentController.ShowNavBar = true;
        mainLayout.RefreshState();
    }
}
